    /**
    
    OSMTrainRouteAnalysis Copyright © 2014 sb12 osm.mapper999@gmail.com
    
    This file is part of OSMTrainRouteAnalysis.
    
    OSMTrainRouteAnalysis is free software: you can redistribute it 
    and/or modify it under the terms of the GNU General Public License 
    as published by the Free Software Foundation, either version 3 of 
    the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    
    */
    
/**
* general styling
**/

#header
{
	background-color: #337ab7;
	color: #ffffff;
}

#footer
{
	border-top: 2px solid #337ab7;
	margin: 0;
	width: 100%;
	top: 0px;
	border-radius:0;
	color:#337ab7;
}

#header div, #footer div
{
	padding: 0.5em 1em;  
}

.navbar-za
{
	background-color:#ffffff;
	border-bottom: 2px solid #337ab7;
	color: #337ab7;
}

h5
{
	font-weight:bold;
}

h6
{
	font-style:italic;
}

h2.panel-title
{
	font-weight:bold;
}

.modal-body.list-group
{
	padding:0;
	margin:0;
}

.modal-body.list-group > .list-group-item
{
	border-radius:0;
}

/**
* ref styling
**/

.ref_long_distance, .ref_regional, .ref_tram, .ref_light_rail, .ref_tourism, .ref_tourism_tram
{
	display: inline-block;
	background-color: #666;
	color: #F4F4F4;
	font-size: 0.9em;
	text-align: center;
	white-space: nowrap;
	padding: 0.1em 0.3em;
	vertical-align:middle;
	border: 1px solid #F4F4F4;
	font-weight: bold;
}

.ref_long_distance, .ref_regional, .ref_light_rail, .ref_tourism
{
	border-radius: 5px;
}

.ref_long_distance
{
	color: #F00;
	border-color: #F00;
}

.ref_tourism, .ref_tourism_tram
{
	background-color:#633a34;
	/*color: #F4F4F4;*/
}

/**
* maxspeed and map styling
**/

#maxspeed
{
	border: 1px solid #337ab7;
	z-index:2;
}
#maxspeed_overview
{
	border: 1px solid #337ab7;
	z-index:3;
	width: 20%; 
	height: 100px; 
	min-width:200px; 
	position: absolute; 
	top: 10px; 
	right: 10px; 
	background-color: #FAFAFA;
}

#map
{
	border: 1px solid #337ab7;
	height: 400px;
	border-radius:4px;
}

/**
* style leaflet tooltip to look similar to bootstrap tooltips
*/

.leaflet-popup-content-wrapper{
	background-color: #337ab7;
	border-color:#337ab7;
	border-radius: 4px;
	color: #FFF;
	padding:3px 8px;
	text-align:center;
	margin-top: -40px;
	opacity:0.8;
}

.leaflet-popup-content{
	margin: 0;
}
.leaflet-popup-close-button{
	display:none;
}
.leaflet-popup-tip-container{
	border-color: transparent;
	border-top-color: #337ab7;
	border-width: 5px 5px 0;
	left: 50%;
	margin-left: -5px;
	top: -17px;
	border-style: solid;
	height:0;
	position:absolute;
	width:0;
	opacity:0.8;
}
.leaflet-popup-tip{
	display:none;
}

/**
* tooltip styling
**/

#tooltip_wrapper
{
	position: absolute;
	display: none;
	opacity: 0.80;	
}

#tooltip_wrapper > .tooltip-inner
{
	background-color: #337ab7;
	border-color:#337ab7;
}

#tooltip_wrapper.bottom > .tooltip-arrow
{
	border-bottom-color:#337ab7;
}

#tooltip_wrapper.top > .tooltip-arrow
{
	border-top-color:#337ab7;
}

#tooltip_wrapper > .tooltip-arrow.right
{
	right: 4px;
	left: auto;
}

#tooltip_wrapper > .tooltip-arrow.left
{
	left: 8px;
}

/**
* stations styling
**/

ul.stations
{
	list-style-type: none;
	padding: 0px;
	margin: 0px;
}

ul.stations li
{
    background-repeat: no-repeat;
    background-position: 0px center;
    padding-left: 25px;
	height: 21px;
}
ul.stations li.default
{
    background-image: url(../img/station.svg);
}
ul.stations li.first
{
    background-image: url(../img/station_first.svg);
}
ul.stations li.last
{
    background-image: url(../img/station_last.svg);
}
ul.stations li.ferry_start
{
    background-image: url(../img/ferry_station_start.svg);
}
ul.stations li.ferry_end
{
    background-image: url(../img/ferry_station_end.svg);
}

/**
* styling for route overview tables
**/

.route_overview > thead > tr > th
{
	padding:0px;
}
.route_overview th a
{
	display: inline-block;
	margin:0px;
	padding:5px;
	width: 100%;/*
	color: #111;
	text-decoration: none;*/
}

.route_overview th a:hover
{
	/*color: #8888FF;*/
	background-color: #DDDDDD;
}

table.route_overview > tbody > tr > td 
{
	vertical-align: middle;
}
table.route_overview > tbody > tr > td.nowrap
{
	white-space: nowrap;
}

/**
* flot styling
**/

#flotversion
{
	display: block;
	font-style: italic;
	font-size: 0.7em;
	float: right;
	color: #CCCCFF;
}

/**
* Pagination
**/

.pagination
{
	display: block;
	text-align: center;
	margin: 0px;
	margin-left: auto;
	margin-right: auto;
	width: 250px;
}

/** 
* Style Labels in Buttons
**/

.btn label
{
	margin-bottom: 0px;
	font-weight: normal;
}

/**
* Style for signals
**//*
.signal_container
{
	width:30px;
}*/
.signal_ref
{
	display:block;
	width:auto;
	max-width:30px;
	padding:1px 0.5px;
	font-size:7px;
	background-color:#FFFFFF;
	border: 1px solid #000000;
	text-align:center;
	margin:1px auto;
}
/*
.signal_container .svg.signal{
	margin:auto;
}*/
.svg.signal
{
	display: block;
	width: 40px;
	margin: 1px auto;
}

