    /**
    
    OSMTrainRouteAnalysis Copyright © 2014 sb12 osm.mapper999@gmail.com
    
    This file is part of OSMTrainRouteAnalysis.
    
    OSMTrainRouteAnalysis is free software: you can redistribute it 
    and/or modify it under the terms of the GNU General Public License 
    as published by the Free Software Foundation, either version 3 of 
    the License, or (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <http://www.gnu.org/licenses/>.
    
    */
    
/**
* general styling
**/

#header
{
	background-color: #337ab7;
	color: #ffffff;
}

#footer
{
	border-top: 2px solid #337ab7;
	margin: 0;
	width: 100%;
	top: 0px;
	border-radius:0;
	color:#337ab7;
}

#header div, #footer div
{
	padding: 0.5em 1em;  
}

.navbar-za{
	background-color:#ffffff;
	border-bottom: 2px solid #337ab7;
	color: #337ab7;
}

h5{
	font-weight:bold;
}

h6{
	font-style:italic;
}

h2.panel-title
{
	font-weight:bold;
}

.modal-body.list-group{
	padding:0;
	margin:0;
}

.modal-body.list-group > .list-group-item{
	border-radius:0;
}

/**
* ref styling
**/

.ref_long_distance, .ref_regional, .ref_tram, .ref_light_rail, .ref_tourism, .ref_tourism_tram
{
	display: inline-block;
	background-color: #666;
	color: #F4F4F4;
	font-size: 0.9em;
	text-align: center;
	white-space: nowrap;
	padding: 0.1em 0.3em;
	vertical-align:middle;
	border: 1px solid #F4F4F4;
	font-weight: bold;
}

.ref_long_distance, .ref_regional, .ref_light_rail, .ref_tourism
{
	border-radius: 5px;
}

.ref_long_distance
{
	color: #F00;
	border-color: #F00;
}

.ref_tourism, .ref_tourism_tram
{
	background-color:#633a34;
	/*color: #F4F4F4;*/
}

/**
* maxspeed and map styling
**/

#maxspeed
{
	border: 1px solid #337ab7;
	z-index:2;
}
#maxspeed_overview
{
	border: 1px solid #337ab7;
	z-index:3;
	width: 20%; 
	height: 100px; 
	min-width:200px; 
	position: absolute; 
	top: 10px; 
	right: 10px; 
	background-color: #FAFAFA;
}

#map
{
	border: 1px solid #337ab7;
	height: 300px;
	border-radius:4px;
}

/**
* tooltip styling
**/

#tooltip_wrapper
{
	position: absolute;
	display: none;
	opacity: 0.80;	
}

#tooltip_wrapper > .tooltip-inner
{
	background-color: #337ab7;
	border-color:#337ab7;
}

#tooltip_wrapper.bottom > .tooltip-arrow
{
	border-bottom-color:#337ab7;
}

#tooltip_wrapper.top > .tooltip-arrow
{
	border-top-color:#337ab7;
}

#tooltip_wrapper > .tooltip-arrow.right
{
	right: 4px;
	left: auto;
}

#tooltip_wrapper > .tooltip-arrow.left
{
	left: 8px;
}

/**
* stations styling
**/

ul.stations
{
	display: inline-block;
	margin-right: 16em; /* ca. cos(45°) * 25 - 1.25 */
}

ul.stations li
{
	display: inline-block;
	width: 1.25em;
	height: 20em;
}
	
ul.stations li span
{
	height: 1.25 em;
	width: 25em;
	padding: 0.125 em;
	margin: 0em;
	margin-top: 5em;
	margin-left: -3em;
	vertical-align: middle;
	display: block;
	transform: rotate(-45deg);
	font-size: 0.8em;
}

ul.stations li span a
{
	text-decoration: none;
	white-space: nowrap;
}

ul.stations li img
{
	margin: 7em 0.1em;
	display: block;
	width: 1.313em
}

/**
* styling for route overview tables
**/

.route_overview > thead > tr > th
{
	padding:0px;
}
.route_overview th a
{
	display: inline-block;
	margin:0px;
	padding:5px;
	width: 100%;/*
	color: #111;
	text-decoration: none;*/
}

.route_overview th a:hover
{
	/*color: #8888FF;*/
	background-color: #DDDDDD;
}

table.route_overview > tbody > tr > td 
{
	vertical-align: middle;
}
table.route_overview > tbody > tr > td.nowrap
{
	white-space: nowrap;
}

/**
* flot styling
**/

#flotversion
{
	display: block;
	font-style: italic;
	font-size: 0.7em;
	float: right;
	color: #CCCCFF;
}

/**
* Pagination
**/

.pagination
{
	display:block;
	/*background-color: #CCCCFF;*/
	text-align: center;
	margin:0px;
	margin-left:auto;
	margin-right:auto;
	width:250px;
}
